@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.correct-letter {
  /* transition: color 0.5s; */
  opacity: 1;
  color: white;
  /* border: 1px solid yellow; */
}

@keyframes blinking{
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

.blink-animation{
  animation: blinking 1s ease 0s infinite normal none;
}

.caret-class {
  border: 1px solid white;
  transition : left 125ms, top 125ms;
}

.incorrect-letter {
  border: 1px solid red;
}

.muted {
  color:grey;
}